@page
@model NDDC_IACS_Audit.Pages.AuditControl.AuditModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-0">
            <div class="card-body">
                <div id="table-search">
                    <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                        <div class="gridjs-head pb-5">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchMemberList" placeholder="Search Audit Control...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-auto ms-auto">
                                    <div class="list-grid-nav hstack gap-1">
                                        <a href="/AuditControl/AddAudit" class="btn btn-success"><i class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                        </div>
                        <div class="gridjs-wrapper" style="height: auto;">
                            <table role="grid" class="gridjs-table" style="height: auto;">
                                <thead class="gridjs-thead">
                                    <tr class="gridjs-tr">
                                        <th data-column-id="name" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">S/N</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Title</div>
                                        </th>
                                        <th data-column-id="position" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Originator</div>
                                        </th>
                                        <th data-column-id="company" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Originator Name</div>
                                        </th>blob:https://teams.microsoft.com/8403afef-5220-4b64-9c0a-4a1560fb6003
                                        <th data-column-id="country" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">Date</div>
                                        </th>
                                        <th data-column-id="country" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">Action</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="gridjs-tbody">
                                    @foreach (var item in Model.Controls)
                                    {
                                        <tr class="gridjs-tr">
                                            <td data-column-id="name" class="gridjs-td">@item.SrNo</td>
                                            <td data-column-id="email" class="gridjs-td">@item.Title</td>
                                            <td data-column-id="position" class="gridjs-td">@item.Originator</td>
                                            <td data-column-id="company" class="gridjs-td">@item.OriginatorName</td>
                                            <td data-column-id="country" class="gridjs-td">@item.DateAdded</td>
                                            <td class="d-flex gridjs-td">
                                                <a class="fs-4  pt-0 p-2  text-primary btn text-center" asp-page="/AuditControl/ControlDetails" asp-route-id="@item.Id">
                                                    <i class="las la-pen-square"></i>
                                                </a>
                                                <a class="fs-4 pt-0 text-danger btn text-center" asp-page="/AuditControl/DeleteAudit" asp-route-id="@item.Id">
                                                    <i class="las la-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="gridjs-temp" class="gridjs-temp"></div>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>